
<main>
    <!-- BREADCRUMBS SECTION START -->
    <section class="ul-breadcrumb ul-section-spacing">
        <div class="ul-container">
            <h2 class="ul-breadcrumb-title">Projects</h2>
            <ul class="ul-breadcrumb-nav">
                <li><a href="index.html">Home</a></li>
                <li><span class="separator"><i class="flaticon-right"></i></span></li>
                <li>Projects</li>
            </ul>
        </div>
    </section>
    <!-- BREADCRUMBS SECTION END -->


    <!-- PROJECTS SECTION START -->
    <section class="ul-projects ul-section-spacing">
        <div class="ul-container">
            <div class="row ul-bs-row justify-content-center">
                <div class="col-lg-8 col-md-6 col-10 col-xxs-12">
                    <div class="ul-project ">
                        <div class="ul-project-img">
                            <img src="assets/img/project-1.jpg" alt="Project Image">
                        </div>
                        <div class="ul-project-txt">
                            <div>
                                <h3 class="ul-project-title"><a href="project-details.html">Child trouble & care</a></h3>
                                <p class="ul-project-descr"> Demostic & Transportation</p>
                            </div>
                            <a href="project-details.html" class="ul-project-btn"><i class="flaticon-up-right-arrow"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-10 col-xxs-12">
                    <div class="ul-project ul-project--sm">
                        <div class="ul-project-img">
                            <img src="assets/img/project-2.jpg" alt="Project Image">
                        </div>
                        <div class="ul-project-txt">
                            <div>
                                <h3 class="ul-project-title"><a href="project-details.html">Child trouble & care</a></h3>
                                <p class="ul-project-descr"> Demostic & Transportation</p>
                            </div>
                            <a href="project-details.html" class="ul-project-btn"><i class="flaticon-up-right-arrow"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-10 col-xxs-12">
                    <div class="ul-project ul-project--sm">
                        <div class="ul-project-img">
                            <img src="assets/img/project-3.jpg" alt="Project Image">
                        </div>
                        <div class="ul-project-txt">
                            <div>
                                <h3 class="ul-project-title"><a href="project-details.html">Child trouble & care</a></h3>
                                <p class="ul-project-descr"> Demostic & Transportation</p>
                            </div>
                            <a href="project-details.html" class="ul-project-btn"><i class="flaticon-up-right-arrow"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-6 col-10 col-xxs-12">
                    <div class="ul-project ">
                        <div class="ul-project-img">
                            <img src="assets/img/project-4.jpg" alt="Project Image">
                        </div>
                        <div class="ul-project-txt">
                            <div>
                                <h3 class="ul-project-title"><a href="project-details.html">Child trouble & care</a></h3>
                                <p class="ul-project-descr"> Demostic & Transportation</p>
                            </div>
                            <a href="project-details.html" class="ul-project-btn"><i class="flaticon-up-right-arrow"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-6 col-10 col-xxs-12">
                    <div class="ul-project ">
                        <div class="ul-project-img">
                            <img src="assets/img/project-1.jpg" alt="Project Image">
                        </div>
                        <div class="ul-project-txt">
                            <div>
                                <h3 class="ul-project-title"><a href="project-details.html">Child trouble & care</a></h3>
                                <p class="ul-project-descr"> Demostic & Transportation</p>
                            </div>
                            <a href="project-details.html" class="ul-project-btn"><i class="flaticon-up-right-arrow"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-10 col-xxs-12">
                    <div class="ul-project ul-project--sm">
                        <div class="ul-project-img">
                            <img src="assets/img/project-2.jpg" alt="Project Image">
                        </div>
                        <div class="ul-project-txt">
                            <div>
                                <h3 class="ul-project-title"><a href="project-details.html">Child trouble & care</a></h3>
                                <p class="ul-project-descr"> Demostic & Transportation</p>
                            </div>
                            <a href="project-details.html" class="ul-project-btn"><i class="flaticon-up-right-arrow"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- PROJECTS SECTION END -->
</main>
