
<main class="overflow-hidden">
    <!-- BREADCRUMBS SECTION START -->
    <section class="ul-breadcrumb ul-section-spacing">
        <div class="ul-container">
            <h2 class="ul-breadcrumb-title">Project Details</h2>
            <ul class="ul-breadcrumb-nav">
                <li><a href="index.html">Home</a></li>
                <li><span class="separator"><i class="flaticon-right"></i></span></li>
                <li>Project Details</li>
            </ul>
        </div>
    </section>
    <!-- BREADCRUMBS SECTION END -->


    <div class="ul-container ul-section-spacing">
        <div class="ul-project-details-img-slider swiper">
            <div class="swiper-wrapper" *ngFor="let data of projDetails1">
                <!-- single slide -->
                <div class="swiper-slide">
                    <div>
                        <img [src]="data.img1" alt="Image">
                    </div>
                </div>
                <!-- single slide -->
                <div class="swiper-slide">
                    <div>
                        <img [src]="data.img2" alt="Image">
                    </div>
                </div>
                <!-- single slide -->
                <div class="swiper-slide">
                    <div>
                        <img [src]="data.img3" alt="Image">
                    </div>
                </div>
            </div>

            <div class="ul-project-details-slider-nav ul-slider-nav">
                <button class="prev"><i class="flaticon-back"></i></button>
                <button class="next"><i class="flaticon-next"></i></button>
            </div>
        </div>

        <div class="row gx-5 gy-4 flex-column-reverse flex-lg-row" *ngFor="let data of projDetails2">
            <!-- event details content -->
            <div class="col-md-8">
                <div class="ul-event-details">
                    <h2 class="ul-event-details-title">{{data.head1}}</h2>
                    <p class="ul-event-details-descr">{{data.pera1}}</p>
                    <p>{{data.pera11}}</p>
                    <h3 class="ul-event-details-inner-title">{{data.head2}}</h3>
                    <p class="ul-event-details-descr">{{data.pera2}}</p>

                    <h3 class="ul-event-inner-title">{{data.head3}}</h3>
                    <p>{{data.pera3}}</p>
                </div>
            </div>

            <!-- sidebar -->
            <div class="col-md-4">
                <div class="ul-project-details-infos">
                    <h4 class="ul-project-details-infos-title">Project Information</h4>
                    <ul class="ul-project-details-infos-list" *ngFor="let data of projInfo">
                        <li><span class="key">CATEGORY</span>:<span class="value">{{data.cat}}</span></li>
                        <li><span class="key">AUTHOR</span>:<span class="value">{{data.auth}}</span></li>
                        <li><span class="key">TAGS</span>:<span class="value">{{data.tag}}</span></li>
                        <li><span class="key">COST</span>:<span class="value">{{data.cost}}</span></li>
                        <li><span class="key">DATE</span>:<span class="value">{{data.date}}</span></li>
                    </ul>

                    <div class="ul-footer-socials ul-project-details-infos-shares">
                        <a href="#"><i class="flaticon-facebook"></i></a>
                        <a href="#"><i class="flaticon-twitter"></i></a>
                        <a href="#"><i class="flaticon-linkedin-big-logo"></i></a>
                        <a href="#"><i class="flaticon-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="ul-project-details-nav">
            <a href="#"><i class="flaticon-back"></i> <span>Previous Project</span></a>
            <a href="#"><i class="flaticon-next"></i> <span>Next Project</span></a>
        </div>
    </div>
</main>
