
<div class="preloader" id="preloader">
    <div class="loader"></div>
</div>

<!-- SIDEBAR SECTION START -->
<div class="ul-sidebar">
    <!-- header -->
    <div class="ul-sidebar-header">
        <div class="ul-sidebar-header-logo">
            <a href="index.html">
                <img src="../../../assets/img/logo.png" alt="logo" class="logo">
            </a>
        </div>
        <!-- sidebar closer -->
        <button class="ul-sidebar-closer"><i class="flaticon-close"></i></button>
    </div>

    <div class="ul-sidebar-header-nav-wrapper d-block d-lg-none"></div>


    <!-- sidebar footer -->
    <div class="ul-sidebar-footer">
        <span class="ul-sidebar-footer-title">Follow us</span>

        <div class="ul-sidebar-footer-social">
            <a href="#"><i class="flaticon-facebook"></i></a>
            <a href="#"><i class="flaticon-twitter"></i></a>
            <a href="#"><i class="flaticon-instagram"></i></a>
            <a href="#"><i class="flaticon-youtube"></i></a>
        </div>
    </div>
</div>
<!-- SIDEBAR SECTION END -->

<!-- SEARCH MODAL SECTION START -->
<div class="ul-search-form-wrapper flex-grow-1 flex-shrink-0">
    <button class="ul-search-closer"><i class="flaticon-close"></i></button>

    <form action="#" class="ul-search-form">
        <div class="ul-search-form-right">
            <input type="search" name="search" id="ul-search" placeholder="Search Here">
            <button type="submit"><span class="icon"><i class="flaticon-search"></i></span></button>
        </div>
    </form>
</div>
<!-- SEARCH MODAL SECTION END -->

<!-- HEADER SECTION START -->
<header class="ul-header">
    <div class="ul-header-bottom to-be-sticky">
        <div class="ul-header-bottom-wrapper ul-header-container">
            <div class="" style="padding-top:5px ;">
                <a  class="d-inline-block"><img src="../../../assets/img/logo.png" alt="logo" class="logo"></a>
            </div>

            <!-- header nav -->
            <div class="ul-header-nav-wrapper">
                <div class="to-go-to-sidebar-in-mobile">
                    <nav class="ul-header-nav">
                        <a routerLink="home">Home</a>
                        <!-- <div class="has-sub-menu"> -->
                            <!-- <div class="ul-header-submenu">
                                <ul>
                                    <li><a href="index.html">Home 1</a></li>
                                    <li><a href="index-2.html">Home 2</a></li>
                                </ul>
                            </div> -->

                            
                        <!-- </div> -->
                        <a routerLink="about-us">About</a>
                        <div class="has-sub-menu">
                            <a role="button">Pages</a>
                            <div class="ul-header-submenu">
                                <ul>
                                    <li><a routerLink="our-project">Projects</a></li>
                                    <!-- <li><a href="service-details.html">Service Details</a></li> -->
                                    <!-- <li><a href="projects.html">Projects</a></li> -->
                                    <!-- <li><a href="project-details.html">Project Details</a></li> -->
                                    <li><a routerLink="ourTeam">Team</a></li>
                                    <!-- <li><a href="team-details.html">Team Member Details</a></li> -->
                                    <!-- <li><a href="pricing.html">Pricing Plans</a></li> -->
                                    <li><a routerLink="faq">FAQs</a></li>
                                    <!-- <li><a href="404.html">404</a></li> -->
                                </ul>
                            </div>
                        </div>

                        <a routerLink="donate">Donation</a>
                        <!-- <div class="has-sub-menu">
                            <div class="ul-header-submenu">
                                <ul>
                                    <li><a >Donation Listing</a></li>
                                    <li><a href="">Donation Details</a></li>
                                </ul>
                            </div>
                        </div> -->

                        <a routerLink="event">Event</a>
                        <!-- <div class="has-sub-menu">

                            <div class="ul-header-submenu">
                                <ul>
                                    <li><a href="events.html">Events</a></li>
                                    <li><a href="event-details.html">Event Details</a></li>
                                </ul>
                            </div>
                        </div> -->

                        <a routerLink="Blog">Blog</a>
                        <!-- <div class="has-sub-menu">
                            <div class="ul-header-submenu">
                                <ul>
                                    <li><a href="blog.html">Blogs</a></li>
                                    <li><a href="blog-2.html">Blogs Layout 2</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                </ul>
                            </div>
                        </div> -->
                        <a routerLink="Contact">Contact</a>
                    </nav>
                </div>
            </div>

            <!-- actions -->
            <div class="ul-header-actions">
                <button class="ul-header-search-opener"><i class="flaticon-search"></i></button>
                <a routerLink="signin" class="ul-btn d-sm-inline-flex d-none"><i class="flaticon-fast-forward-double-right-arrows-symbol"></i> Join With us </a>
                <button class="ul-header-sidebar-opener d-lg-none d-inline-flex"><i class="flaticon-menu"></i></button>
            </div>
        </div>
    </div>
</header>
<!-- HEADER SECTION END -->