
<main>
    <!-- BREADCRUMBS SECTION START -->
    <section class="ul-breadcrumb ul-section-spacing">
        <div class="ul-container">
            <h2 class="ul-breadcrumb-title">Donation Listing</h2>
            <ul class="ul-breadcrumb-nav">
                <li><a href="index.html">Home</a></li>
                <li><span class="separator"><i class="flaticon-right"></i></span></li>
                <li>Donation Listing</li>
            </ul>
        </div>
    </section>
    <!-- BREADCRUMBS SECTION END -->


    <!-- DONTATIONS SECTION START -->
    <section class="ul-section-spacing overflow-hidden">
        <!-- DONTATIONS Grid -->
        <div class="ul-container wow animate__fadeInUp">
            <div class="row ul-bs-row row-cols-xl-4 row-cols-md-3 row-cols-2 row-cols-xxs-1">
                
                <div class="col"  *ngFor="let dont of donation_ls"  >
                    <div class="ul-donation ul-donation--inner">
                        <div class="ul-donation-img">
                            <img [src]="dont.imgPath" alt="donation Image">
                            <span class="tag">{{dont.categ}}</span>
                        </div>
                        <div class="ul-donation-txt">
                            <div class="ul-donation-progress">
                                <div class="donation-progress-container ul-progress-container">
                                    <div class="donation-progressbar ul-progressbar" [attr.data-ul-progress-value]="dont.progress">
                                        <div class="donation-progress-label ul-progress-label"></div>
                                    </div>
                                </div>
                                <div class="ul-donation-progress-labels">
                                    <span class="ul-donation-progress-label">Raised : {{dont.rais}}</span>
                                    <span class="ul-donation-progress-label">Goal : {{dont.goal}}</span>
                                </div>
                            </div>
                            <a [routerLink]="[dont.link, dont.id]" class="ul-donation-title">{{dont.heading}}</a>
                            <p class="ul-donation-descr">{{dont.para}}</p>
                            <a [routerLink]="[dont.link, dont.id]" class="ul-donation-btn">Donate now <i class="flaticon-up-right-arrow"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- pagination -->
        <div class="ul-pagination">
            <ul>
                <li><a href="#"><i class="flaticon-back"></i></a></li>
                <li class="pages">
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                </li>
                <li><a href="#"><i class="flaticon-next"></i></a></li>
            </ul>
        </div>
    </section>
    <!-- DONTATIONS SECTION END -->
</main>
