<main>
    <!-- BREADCRUMBS SECTION START -->
    <section class="ul-breadcrumb ul-section-spacing">
        <div class="ul-container">
            <h2 class="ul-breadcrumb-title">Our Team</h2>
            <ul class="ul-breadcrumb-nav">
                <li><a href="index.html">Home</a></li>
                <li><span class="separator"><i class="flaticon-right"></i></span></li>
                <li>Our Team</li>
            </ul>
        </div>
    </section>
    <!-- BREADCRUMBS SECTION END -->


    <!-- TEAM SECTION START -->
    <section class="ul-team ul-inner-team ul-section-spacing">
        <div class="ul-container">
            <div class="row row-cols-md-4 row-cols-sm-3 row-cols-2 row-cols-xxs-1 ul-team-row justify-content-center">


                <div class="col" *ngFor="let member of teamMembers">
                    <div class="ul-team-member">
                        <div class="ul-team-member-img">
                            <img [src]="member.imgPath" alt="Team Member Image">
                            
                        </div>
                        <div class="ul-team-member-info">
                            <h3 class="ul-team-member-name"><a>{{member.name}}</a></h3>
                            <p class="ul-team-member-designation">{{member.position}}</p>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </section>
    <!-- TEAM SECTION END -->
</main>
