
<main>
    <!-- BREADCRUMBS SECTION START -->
    <section class="ul-breadcrumb ul-section-spacing">
        <div class="ul-container">
            <h2 class="ul-breadcrumb-title">Blogs</h2>
            <ul class="ul-breadcrumb-nav">
                <li><a href="index.html">Home</a></li>
                <li><span class="separator"><i class="flaticon-right"></i></span></li>
                <li>Blogs</li>
            </ul>
        </div>
    </section>
    <!-- BREADCRUMBS SECTION END -->


    <!-- BLOG SECTION START -->
    <section class="ul-blogs-2 ul-section-spacing">
        <div class="ul-container wow animate__fadeInUp">
            <div class="row row-cols-md-3 row-cols-2 row-cols-xxs-1 ul-bs-row justify-content-center">
                <!-- single blog -->
                <div class="col">
                    <div class="ul-blog ul-blog-2">
                        <div class="ul-blog-img"><img src="assets/img/blog-1.jpg" alt="Blog Image">
                            <div class="date">
                                <span class="number">15</span>
                                <span class="txt">Dec</span>
                            </div>
                        </div>
                        <div class="ul-blog-txt">
                            <div class="ul-blog-infos">
                                <!-- single info -->
                                <div class="ul-blog-info">
                                    <span class="icon"><i class="flaticon-account"></i></span>
                                    <span class="text font-normal text-[14px] text-etGray">By Admin</span>
                                </div>
                                <!-- single info -->
                                <div class="ul-blog-info">
                                    <span class="icon"><i class="flaticon-price-tag"></i></span>
                                    <span class="text font-normal text-[14px] text-etGray">Donation</span>
                                </div>
                            </div>
                            <a href="blog-details.html" class="ul-blog-title">Give Education, It’s The Best Gift Ever.</a>
                            <a href="blog-details.html" class="ul-blog-btn">Read More <span class="icon"><i class="flaticon-next"></i></span></a>
                        </div>
                    </div>
                </div>

                <!-- single blog -->
                <div class="col">
                    <div class="ul-blog ul-blog-2">
                        <div class="ul-blog-img"><img src="assets/img/blog-2.jpg" alt="Blog Image">
                            <div class="date">
                                <span class="number">15</span>
                                <span class="txt">Dec</span>
                            </div>
                        </div>
                        <div class="ul-blog-txt">
                            <div class="ul-blog-infos">
                                <!-- single info -->
                                <div class="ul-blog-info">
                                    <span class="icon"><i class="flaticon-account"></i></span>
                                    <span class="text font-normal text-[14px] text-etGray">By Admin</span>
                                </div>
                                <!-- single info -->
                                <div class="ul-blog-info">
                                    <span class="icon"><i class="flaticon-price-tag"></i></span>
                                    <span class="text font-normal text-[14px] text-etGray">Donation</span>
                                </div>
                            </div>
                            <a href="blog-details.html" class="ul-blog-title">Don’t treat oceans as universal garbage cans</a>
                            <a href="blog-details.html" class="ul-blog-btn">Read More <span class="icon"><i class="flaticon-next"></i></span></a>
                        </div>
                    </div>
                </div>

                <!-- single blog -->
                <div class="col">
                    <div class="ul-blog ul-blog-2">
                        <div class="ul-blog-img"><img src="assets/img/blog-3.jpg" alt="Blog Image">
                            <div class="date">
                                <span class="number">15</span>
                                <span class="txt">Dec</span>
                            </div>
                        </div>
                        <div class="ul-blog-txt">
                            <div class="ul-blog-infos">
                                <!-- single info -->
                                <div class="ul-blog-info">
                                    <span class="icon"><i class="flaticon-account"></i></span>
                                    <span class="text font-normal text-[14px] text-etGray">By Admin</span>
                                </div>
                                <!-- single info -->
                                <div class="ul-blog-info">
                                    <span class="icon"><i class="flaticon-price-tag"></i></span>
                                    <span class="text font-normal text-[14px] text-etGray">Donation</span>
                                </div>
                            </div>
                            <a href="blog-details.html" class="ul-blog-title">The sun and the sand makes beaches beautiful</a>
                            <a href="blog-details.html" class="ul-blog-btn">Read More <span class="icon"><i class="flaticon-next"></i></span></a>
                        </div>
                    </div>
                </div>

                <!-- single blog -->
                <div class="col">
                    <div class="ul-blog ul-blog-2">
                        <div class="ul-blog-img"><img src="assets/img/blog-1.jpg" alt="Blog Image">
                            <div class="date">
                                <span class="number">15</span>
                                <span class="txt">Dec</span>
                            </div>
                        </div>
                        <div class="ul-blog-txt">
                            <div class="ul-blog-infos">
                                <!-- single info -->
                                <div class="ul-blog-info">
                                    <span class="icon"><i class="flaticon-account"></i></span>
                                    <span class="text font-normal text-[14px] text-etGray">By Admin</span>
                                </div>
                                <!-- single info -->
                                <div class="ul-blog-info">
                                    <span class="icon"><i class="flaticon-price-tag"></i></span>
                                    <span class="text font-normal text-[14px] text-etGray">Donation</span>
                                </div>
                            </div>
                            <a href="blog-details.html" class="ul-blog-title">Give Education, It’s The Best Gift Ever.</a>
                            <a href="blog-details.html" class="ul-blog-btn">Read More <span class="icon"><i class="flaticon-next"></i></span></a>
                        </div>
                    </div>
                </div>

                <!-- single blog -->
                <div class="col">
                    <div class="ul-blog ul-blog-2">
                        <div class="ul-blog-img"><img src="assets/img/blog-2.jpg" alt="Blog Image">
                            <div class="date">
                                <span class="number">15</span>
                                <span class="txt">Dec</span>
                            </div>
                        </div>
                        <div class="ul-blog-txt">
                            <div class="ul-blog-infos">
                                <!-- single info -->
                                <div class="ul-blog-info">
                                    <span class="icon"><i class="flaticon-account"></i></span>
                                    <span class="text font-normal text-[14px] text-etGray">By Admin</span>
                                </div>
                                <!-- single info -->
                                <div class="ul-blog-info">
                                    <span class="icon"><i class="flaticon-price-tag"></i></span>
                                    <span class="text font-normal text-[14px] text-etGray">Donation</span>
                                </div>
                            </div>
                            <a href="blog-details.html" class="ul-blog-title">Don’t treat oceans as universal garbage cans</a>
                            <a href="blog-details.html" class="ul-blog-btn">Read More <span class="icon"><i class="flaticon-next"></i></span></a>
                        </div>
                    </div>
                </div>

                <!-- single blog -->
                <div class="col">
                    <div class="ul-blog ul-blog-2">
                        <div class="ul-blog-img"><img src="assets/img/blog-3.jpg" alt="Blog Image">
                            <div class="date">
                                <span class="number">15</span>
                                <span class="txt">Dec</span>
                            </div>
                        </div>
                        <div class="ul-blog-txt">
                            <div class="ul-blog-infos">
                                <!-- single info -->
                                <div class="ul-blog-info">
                                    <span class="icon"><i class="flaticon-account"></i></span>
                                    <span class="text font-normal text-[14px] text-etGray">By Admin</span>
                                </div>
                                <!-- single info -->
                                <div class="ul-blog-info">
                                    <span class="icon"><i class="flaticon-price-tag"></i></span>
                                    <span class="text font-normal text-[14px] text-etGray">Donation</span>
                                </div>
                            </div>
                            <a href="blog-details.html" class="ul-blog-title">The sun and the sand makes beaches beautiful</a>
                            <a href="blog-details.html" class="ul-blog-btn">Read More <span class="icon"><i class="flaticon-next"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- pagination -->
            <div class="ul-pagination">
                <ul>
                    <li><a href="#"><i class="flaticon-back"></i></a></li>
                    <li class="pages">
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                    </li>
                    <li><a href="#"><i class="flaticon-next"></i></a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- BLOG SECTION END -->
</main>
