
<main>
    <!-- BREADCRUMBS SECTION START -->
    <section class="ul-breadcrumb ul-section-spacing">
        <div class="ul-container">
            <h2 class="ul-breadcrumb-title">Blogs</h2>
            <ul class="ul-breadcrumb-nav">
                <li><a href="index.html">Home</a></li>
                <li><span class="separator"><i class="flaticon-right"></i></span></li>
                <li>Blogs</li>
            </ul>
        </div>
    </section>
    <!-- BREADCRUMBS SECTION END -->


    <!-- BLOG SECTION START -->
    <section class="ul-blogs-2 ul-section-spacing">
        <div class="ul-container wow animate__fadeInUp">
            <div class="row row-cols-md-3 row-cols-2 row-cols-xxs-1 ul-bs-row justify-content-center">
                
                <!-- single blog -->
                <div class="col" *ngFor="let blog of blogList">
                    <div class="ul-blog ul-blog-2">
                        <div class="ul-blog-img"><img [src]="blog.imgPath" alt="Blog Image">
                            <div class="date">
                                <span class="number">{{blog.date | date:'dd'}}</span>
                                <span class="txt">{{blog.date | date:'MMM'}}</span>
                            </div>
                        </div>
                        <div class="ul-blog-txt">
                            <div class="ul-blog-infos">
                                <!-- single info -->
                                <div class="ul-blog-info">
                                    <span class="icon"><i class="flaticon-account"></i></span>
                                    <span class="text font-normal text-[14px] text-etGray">{{blog.rights}}</span>
                                </div>
                                <!-- single info -->
                                <div class="ul-blog-info">
                                    <span class="icon"><i class="flaticon-price-tag"></i></span>
                                    <span class="text font-normal text-[14px] text-etGray">{{blog.type}}</span>
                                </div>
                            </div>
                            <a [routerLink]="[blog.link, blog.id]" class="ul-blog-title">{{blog.linkText1}}</a>
                            <a [routerLink]="[blog.link, blog.id]" class="ul-blog-btn">{{blog.linkText2}}<span class="icon"><i class="flaticon-next"></i></span></a>
                        </div>
                    </div>
                </div>

            </div>

            <!-- pagination -->
            <div class="ul-pagination">
                <ul>
                    <li><a href="#"><i class="flaticon-back"></i></a></li>
                    <li class="pages">
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                    </li>
                    <li><a href="#"><i class="flaticon-next"></i></a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- BLOG SECTION END -->
</main>
